<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GitCommitHash</key>
  <string>$(GIT_COMMIT_HASH)</string>
  <key>AppGroupID</key>
  <string>$(APP_GROUP_ID)</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>IntentsSupported</key>
      <array><string>INPlayMediaIntent</string></array>
      <key>IntentsRestrictedWhileLocked</key>
      <array/>
      <key>IntentsRestrictedWhileProtectedDataUnavailable</key>
      <array><string>INPlayMediaIntent</string></array>
      <key>SupportedMediaCategories</key>
      <array><string>INMediaCategoryPodcasts</string></array>
    </dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.intents-service</string>
    <key>NSExtensionPrincipalClass</key>
    <string>$(PRODUCT_MODULE_NAME).IntentHandler</string>
  </dict>
</dict>
</plist>
